// Color type
$primary: #07A7F1;
$primaryHover: #2EB5F3;
$primaryClick: #0699DE;

$warn: #FFBB00;
$warnHover: #FFC833;
$warnClick: #F2B100;

$success: #7cbb00;
$successHover: #89c11a;
$successClick: #6fa700;

$plain: #f2f2f2;
$error: #F65314;

$hint: #999999;
$hintWeak: #a3a3a3;
$tip: #666666;
$white: #ffffff;

$title: 24px;

$focus: #2b2b2b;

$blackWeak: #333333;
$grayWeak: #cccccc;

$inputDefault: #cccccc;
$inputHover: #20aff2;
$inputClick: #666666;

$checkBack: #2c4456;

